<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
  <meta name="description" content="多機能便利なリンク短縮サービス。安心安全？">
  <meta property="og:image" content="/assets/img/logo.png"/>
  <title>potly's sort</title>
  <link rel="icon" href="/assets/img/logo.png"/>
  <link rel="stylesheet" href="/assets/css/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.qrcode/1.0/jquery.qrcode.min.js"></script> 
  <script type="text/javascript" src="/assets/js/main.js"></script>
</head>
<body>
  <div id="content_top" class="content">
    <h1>potly's sort</h1>
    <p id="top">
      誰でも簡単にリンクを短縮できるサービスです。<br>下のテキストボックスにURLを入力し、短縮ボタンを押して下さい。<br>短縮されたURLは自動で表示されます。
    </p>
    <input type="text" name="url" id="url" placeholder="短縮したいURLを入力してください">
    <button class="button button1" onclick="send();">短縮</button>
  </div>
  <div id="content_result" class="content clear">
    <h2>短縮URLを作成しました</h2>
    <p>
      <div id="lit">
        <img id="qr_img" src="https://chart.apis.google.com/chart?cht=qr&amp;chs=150x150&amp;chl=https://allabout.co.jp/gm/gc/24013/" alt="QRコードの画像">
        <p id="url_value"></p>
      </div>
      <button class="button button1" onclick="copy_to_clipboard();">短縮リンクをコピー</button>
    </p>
  </div>
  <footer>
    <p>© 2022 Combu_uni</p>
  </footer>
</body>
</html>
