body {
    text-align: center;
    color:#fff;
    background-color:#ccc;
    margin: 30px;
}
h1,h2,p {
    color: rgb(100, 98, 98);
}
h1 {
    margin: 0px;
}
h1::after {
    content: '';
    display: inline-block;
    width: 40px;
    height: 50px;
    background-image: url(/assets/img/home.png);
    background-size: contain;
    vertical-align: middle;
}
h2 {
    padding-top: 20px;
}
input[type=text] {
    width: 500px;
    padding: 6px 20px;
    margin: 8px 0;
    font-size: 16px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
table {
    text-align: left;
    margin: 10px auto 20px;
    font-size: 12px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
.css_short {
    max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 6px 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
footer {
    text-align: center;
    padding-bottom: 10px;
    font-size: 12px;
    color:#ccc;
}
#top {
    margin: auto;
    text-align: left;
    width: 80%;
}
.content {
    height: 210px;
    padding: 15px 0px;
    margin: 10px auto 10px auto;
    border-radius: 20px;
    background-color: #fff;
}
#content_result {
    height: 345px;
    margin: 0 auto;
    border-radius: 20px;
    background-color: #fff;
    text-align: center;
}
.clear {
    display: none;
}
@media screen and (max-width: 800px){
    .css_short {
        max-width: 300px;
    }
}
@media screen and (max-width: 700px){
    body {
        margin: 10px;
    }
    br {
        display: none;
    }
}
@media screen and (max-width: 610px){
    .css_link {
        width: 20%;
    }
}
@media screen and (max-width: 600px){
    .css_link {
        width: 25%;
    }
    input[type=text] {
        width: 80%;
    }
    #url_value {
        max-width: 400px;
        margin: auto;
        overflow-wrap: break-word;
    }
    button {
        margin-top: 15px;
    }
}
@media screen and (max-width: 560px){
    .lit {
        width: 400px;
    }
}
@media screen and (max-width: 400px){
    .content {
        height: 230px;
    }
    #content_top {
        height: 280px;
    }
}
@media screen and (max-width: 360px){
    #content_top {
        height: 280px;
    }
    input[type="text"] {
        width: 60%;
    }
}
@media screen and (max-width: 345px){
    #content_result {
        height: 320px;
    }
}